/* TYPO */

h1 {
  font-size: 48px;
  font-weight: 700;
}

/* MIX */
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.mt-15 {
  margin-top: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.list-inline {
  list-style: none;
}
.list-inline  li {
  display: inline-block;
}

/* HEADER */

/* header top */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background-color: #fff;
  line-height: 70px;
  font-size: 0.65rem;
  font-weight: 500;
}

.logo {
  height: 12px;
}

.main-menu {
  text-align: right;
}
.main-menu li {
  padding-right: 30px;
}
.main-menu li a {
  color: #000;
}

.side-menu {
  text-align: right;
}

#eng-menu {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 6px;
  color: #000;
}

.btn {
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.hamburger-icon {
  float: right;
  line-height: 70px;
  font-size: 1.4rem;
}

/* Hero */
.hero {
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 70px;
}

.banner {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.img-banner {
  width: 160px;
}

/* ARTICLES sezione */

/* .articles [class*="col-6"] */

.articles {
  /* debug */
  position: relative;
  height: 800px;
  background-color: darkgrey;
}

.articles .col-lg-6 {
  background-color: lightgrey;
  border: 1px solid black;
  height: 700px;
  margin-top: 50px;
}
/* debug */


.works {
  /* debug */
  position: relative;
  height: 700px;
  background-color: yellow;
  background-image: url('img/bg_works.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.works [class*="col-"] {
  border: 1px solid black;
  height: 700px;
}



.articles .col-lg-6 {
  background-color: lightgrey;
  border: 1px solid black;
  height: 700px;
  margin-top: 50px;
}
/* debug */
